body {
  font: 13px sans-serif;
  font-family: "Verdana";
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.PER {
	stroke: orange;
}

.MIN{
	stroke: steelblue;
}