body {
  font: 13px sans-serif;
  font-family: "Verdana";
  width: 1020px;
  margin: 0px auto;
}

.axis path{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.PER {
	stroke: orange;
}

.MIN{
	stroke: steelblue;
}


#display{
}
